{
  "presets": [
    ["env", {
      "targets": {
        "node": "4.0",
        "ie": "11"
      },
      "useBuiltIns": true,
      "shippedProposals": true
    }]
  ],
  "plugins": [
    "transform-es2015-spread",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
